<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RechercherCv</servlet-name>
        <servlet-class>control.RechercherCv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authentification</servlet-name>
        <servlet-class>control.authentification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mail_correct</servlet-name>
        <servlet-class>control.mail_correct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdp_oublié</servlet-name>
        <servlet-class>control.mdp_oublié</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurServlet</servlet-name>
        <servlet-class>web.ControleurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurServlet1</servlet-name>
        <servlet-class>web.ControleurServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrepriseServlet</servlet-name>
        <servlet-class>web.EntrepriseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntrepriseServlet1</servlet-name>
        <servlet-class>web.EntrepriseServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceuilServlet</servlet-name>
        <servlet-class>web.AcceuilServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RechercherCv</servlet-name>
        <url-pattern>/Hamada/RechercherCv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authentification</servlet-name>
        <url-pattern>/Hamada/authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mail_correct</servlet-name>
        <url-pattern>/Hamada/mail_correct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdp_oublié</servlet-name>
        <url-pattern>/Hamada/mdp_oubli_</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurServlet</servlet-name>
        <url-pattern>/omar/ControleurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurServlet1</servlet-name>
        <url-pattern>/omar/ControleurServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrepriseServlet</servlet-name>
        <url-pattern>/omar/EntrepriseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntrepriseServlet1</servlet-name>
        <url-pattern>/omar/EntrepriseServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceuilServlet</servlet-name>
        <url-pattern>/omar/AcceuilServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
